@import "themes/mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, FiraCode-Bold;
    font-size: 13px;
    color: @text;
}

window#waybar {
    background-color: alpha(@base, 0.1);
    border-bottom: 3px solid @surface0;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @surface1;
}

window#waybar.chromium {
    background-color: @crust;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: alpha(@crust, 0.2);
}

#workspaces button.focused {
    background-color: @overlay0;
    box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: @maroon;
}

#mode {
    background-color: @overlay0;
    border-bottom: 3px solid @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#custom-matcha,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @base;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @overlay0;
}

#battery {
    background-color: @text;
}

#battery.charging, #battery.plugged {
    color: @base;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @crust;
}

#cpu {
    background-color: @teal;
    color: @base;
}

#memory {
    background-color: @mauve;
}

#disk {
    background-color: @peach;
}

#backlight {
    background-color: @lavender;
}

#network {
    background-color: @blue;
}

#network.disconnected {
    background-color: @maroon;
}

#pulseaudio {
    background-color: @peach;
    color: @base;
}

#pulseaudio.muted {
    background-color: @lavender;
    color: @base;
}

#wireplumber {
    background-color: @text;
    color: @base;
}

#wireplumber.muted {
    background-color: @maroon;
}

#custom-media {
    background-color: @teal;
    color: @base;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @teal;
}

#custom-media.custom-vlc {
    background-color: @yellow;
}

#temperature {
    background-color: @peach;
}

#temperature.critical {
    background-color: @maroon;
}

#tray {
    background-color: @base;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @maroon;
}

#custom-matcha {
    background-color: @base;
    color: @text;
}

#custom-matcha.on {
    background-color: @text;
    color: @base;
}

#mpd {
    background-color: @teal;
    color: @base;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @teal;
}

#mpd.paused {
    background-color: @green;
}

#language {
    background: @teal;
    color: @base;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @green;
    color: @base;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: alpha(@crust, 0.2);
}

#scratchpad {
    background: alpha(@crust, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
