@import "themes/mocha.css";

* {
    font-family: FiraCodeNerdFont, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: linear-gradient(@base, alpha(@base, 0));
    border-bottom: 0;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.termite {
    background-color: @surface1;
}
window#waybar.chromium {
    background-color: @crust;
    border: none;
}

button {
    padding: 0;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @crust;
    background-color: @crust;
    opacity: 0.5;
}

#workspaces button.focused {
    color: @base;
    background-color: @lavender;
    box-shadow: inset 0 -3px @text;
}
#workspaces button.urgent {
    background-color: @maroon;
    color: @base;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-matcha,
#custom-media,
#disk,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
    margin: 0;
    padding: 0 5px;
    background-color: @base;
    color: @text;
    border: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
.modules-left,
.modules-right {
    margin-right: 0;
    background-color: @base;
}

#battery {
    color: @text;
}
#battery.charging, #battery.plugged {
    color: @green;
}
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @text;
        background-color: @base;
    }
}


label:focus {
    color: @crust;
}

#cpu ,
#disk ,
#memory {
    color: @teal;
}

#network {
    color: @rosewater;
}
#network.disconnected {
    color: @maroon;
}

#clock {
    padding: 0 12;
}

#backlight ,
#pulseaudio {
    color: @yellow;
}
#pulseaudio {
    padding: 0 0 0 10;
}
#pulseaudio.muted {
    color: @lavender;
}

#wireplumber {
    color: @text;
}
#wireplumber.muted {
    color: @maroon;
}

#custom-media {
    color: @teal;
    min-width: 100px;
}
#custom-media.custom-spotify {
    color: @teal;
}
#custom-media.custom-vlc {
    color: @yellow;
}

#temperature {
    color: @blue;
}
#temperature.critical {
    color: @red;
    font-weight: bold;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#custom-matcha {
    padding: 0 12 0 10;
    background-color: @base;
    color: @text;
}
#custom-matcha.on {
    background-color: @text;
    color: @base;
}

#language {
    color: @lavender;
    font-weight: bold;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#scratchpad {
    background: alpha(@overlay2, 0.2);
}
#scratchpad.empty {
	background-color: transparent;
}
